.App {
  text-align: center;
}

h1{
  color: #33fff6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2{
  text-align: left;
  color: slategray;
}
p{
  text-align: left;
  size: 120%;
  color: lightslategray;

}
#bNotes{
  
}
#bTime{
  text-align: right;
}

#birdList{
  border: 2px black dotted;
  border-radius: 5px;
  width: 80%;
  position: relative;
  float: centre;
}
.bird{
  border-bottom: 1px black solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


